{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SGN1302 - Iniciar sesión</title>

     <!-- Custom fonts for this template-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/logo.png'%}" />
    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card border-0 shadow-lg my-5">
                    <div class="card-body">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block">
                                <div style="margin:50px auto;">
                                    <img class="img-fluid px-sm-5" style="margin:0px;"
                                    src="{% static 'assets/img/logo.png' %}" alt="...">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center text-uppercase-expanded mb-1">
                                        Sistema gestor de notas "SGN1302"
                                    </div>
                                    <div class="text-center text-uppercase-expanded fw-200 mb-3">
                                        ¡Bienvenido/a!
                                    </div>
                                    <form class="user fw-200" action="" method=POST> 
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Ingrese nombre de usuario" 
                                                name="username">
                                        </div>
                                        <div class="form-group" method="post" action="{% url 'login' %}">
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Contraseña"
                                                name="password">
                                                
                                        </div>
                                    
                                        <button type="submit" class="btn btn-primary btn-user btn-block"> 
                                            Iniciar Sesión
                                        </button>
                                        
                                    </form>
                                </div>
                                {% if messages %}
                                {% for message in messages %}

                                    <div class="container-xl">
                                    <div class="alert alert-primary alert-icon border-start-lg" role="alert">
                                        
                                        <div class="alert-icon-aside">
                                        <i class="far fa-bell"></i>
                                        </div>
                                        <div class="alert-icon-content">
                                        <h6 class="alert-heading">Notificación</h6>
                                        {{message}}
                                        </div>
                                    </div>
                                    </div>

                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>

</html>