{% extends 'layouts/dashboard.html' %}

{% comment %} {% include 'registration/login.html' %} {% endcomment %}

{% block metadata %}
<title>Promedios</title>
{% endblock %}
{% block content %}
{% load static %}

<!--PARA FIJAR LA OPCIÓN EN LA BARRA DE NAVEGACIÓN-->
<div id="idmateria" class="d-none">
    {{gradoseccion.id_materia.id_materia}}
</div>
<div id="idgrado" class="d-none">
    {{gradoseccion.id_gradoseccion.id_gradoseccion}}
</div>
<div class="container-xl px-4 mb-3">
    <div class="row">
        <div class="col-12">
            <div class="card mt-4 px-4">
                <div class="card-body">
                    <div class="text-center text-uppercase-expanded fw-900 fs-4">
                        CENTRO ESCOLAR "13 DE FEBRERO DE 2001"
                    </div>
                    <div class="text-center text-uppercase-expanded fw-100">
                        RENDIMIENTO ACADEMICO DE ESTUDIANTES
                    </div>
                    <dl class="row">
                        <dd class="col-xl-6 col-sm-6">
                            <dl class="row">
                                <dt class="col-xl-3 col-sm-5">Asignatura</dt>
                                <dd class="col-xl-7 col-sm-7">{{materia.nombre_materia}}</dd>
                            
                                <dt class="col-xl-3 col-sm-5">Docente</dt>
                                <dd class="col-xl-7 col-sm-7">{{ gradoseccion.id_materia.id_docente }}</dd>  
                            </dl>
                        </dd>
                        <dd class="col-xl-6 col-sm-6">
                            <dl class="row justify-content-end text-end">
                                <dt class="col-xl-6 col-sm-10">{{trimestre}}</dt>
                                <dd></dd>
                                <dt class="col-xl-6 col-sm-10">{{ gradoseccion.id_gradoseccion }}</dt>
                                <dd></dd>                            
                            </dl>
                        </dd> 
                    </dl> 
                    <div class="row">
                        <div class="col-xl-12">
                            <form method="post" action="{% url 'sgn_app:reporteExcel'%}"> 
                                {% csrf_token %}
                                <div class="row text-end">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="me-1" data-feather="file"></i>
                                            Descargar Archivo Excel
                                        </button>
                                        <!-- Botón Estadistico de Aprobados/Reprobados trigger -->
                                        <a class="btn btn-outline-success" href="{% url 'sgn_app:graficoAR' aprobados=aprobados reprobados=reprobados gradoseccionmateria=gradoseccion.id_gradoseccionmateria%}">
                                            <i class="fa-solid fa-chart-column me-1"></i>
                                            Estadistica
                                        </a>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-center text-sm">
                                            <tr>
                                                <th>N°</th>
                                                <th>NIE</th>
                                                <th>Alumno/a</th>
                                                {% for evaluacion in evaluaciones %}
                                                <th>
                                                    {{ evaluacion.nombre_evaluacion }}
                                                    <div>
                                                        {{ evaluacion.porcentaje }}%
                                                    </div>
                                                </th>
                                                {% endfor %}
                                                <th>Nota Promedio Trimestral</th>
                                                <th>Estado</th>
                                                <th>Observación</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center text-sm">
                                            {% for alumno in alumnos %}
                                            <tr>
                                                <th>{{ forloop.counter }}</th>
                                                <td>{{ alumno.nie }}</td>
                                                <td  class="text-start">{{ alumno }}</td>
                                                {% for evasalumno in evaluacionesalumno %}
                                                {% if alumno.id_alumno == evasalumno.id_alumno.id_alumno %}
                                                <td>{{ evasalumno.nota }}</td>
                                                {% endif %}
                                                {% empty %}
                                                <td>No hay nota</td>
                                                {% endfor %}
                                                {% for promedio in promedios %}
                                                {% if promedio.alumno.id_alumno == alumno.id_alumno %}
                                                <td>{{ promedio.promedio }}</td>
                                               
                                                <input type="hidden" name="promedio_{{ alumno.id_alumno }}"
                                                    value="{{ promedio.promedio }}">
                                                <td>
                                                    {% if promedio.promedio > 5 %}
                                                    <a class="btn btn-outline-green btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Aprobado">
                                                        <i data-feather="feather"></i>
                                                    </a>
                                                    {% else %}
                                                    <a class="btn btn-outline-red btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Reprobado">
                                                        <i data-feather="feather"></i>
                                                    </a>
                                                    {% endif %}

                                                </td>
                                                {% endif %}
                                                {% empty %}
                                                <td>-</td>
                                                <td>-</td>
                                                {% endfor %}
                                                <td>
                                                    <div>
                                                        <input type="input" class="form-control"
                                                            name="opcional_{{alumno.id_alumno }}" id="floatingInput" placeholder="opcional">
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <input type="hidden" name="trimestre" value="{{trimestre}}">
                                <input type="hidden" name="grado" value="{{gradoseccion.id_gradoseccion}}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // PARA MANEJAR LA BARRA DE NAGEVACIÓN PARA EVALUAR
    window.onload = function () {
        var idmateria = document.getElementById("idmateria").textContent.trim();  // Limpia el contenido del ID
        var idgrado = document.getElementById("idgrado").textContent.trim();  // Limpia el contenido del ID
        const collapseGrados = document.getElementById('collapseMaterias');
        const collapseMaterias = document.getElementById('pagesMaterias'+idgrado)
        const materia = document.getElementById('Materia'+idmateria);
        const grado = document.getElementById('Grado'+idgrado);
        collapseMaterias.classList.add('show');
        materia.classList.add('active');
        grado.classList.add('active');
        collapseGrados.classList.add('show');
    }
</script>
{% endblock %}