{% extends 'layouts/dashboard.html' %}

{% comment %} {% include 'registration/login.html' %} {% endcomment %}

{% block metadata %}
<title>Promedios</title>
{% endblock %}
{% block content %}
{% load static %}
<div class="row ms-1 me-1">
<div class="col-12">
<div class="card mb-4 mt-1">
<div class="text-center">
  <h1 class="d-flex justify-content-center mt-5">CENTRO ESCOLAR "13 DE FEBRERO DE 2001"</h1>
  <h2 class="d-flex justify-content-center mt-3">RENDIMIENTO ACADEMICO DE ESTUDIANTES</h2>
</div>
<div class="row mt-5" >
    <div class="col-3"></div>
    <div class="col-3">
        <div class="row">
            <p>Asignatura <b> {{materia.nombre_materia}} </b></p>
        </div>
        <div class="row">
            <p>Docente <b>{{ gradoseccion.id_materia.id_docente }} </b> </p>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-4">
        <p><b> {{trimestre}}</b></p>
        <p><b>{{ gradoseccion.id_gradoseccion }}</b></p>
    </div>
    <div class="col-1"></div>
</div>
<div class="row mt-5 justify-content-center">
    <div class="col-lg-12">
      <form method="post" action="{% url 'sgn_app:reporteExcel'%}"> {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">N° <br></br></th>
                    <th scope="col">NIE <br></br></th>
                    <th scope="col">ALUMNO/A <br></br> </th>
                    {% for evaluacion in evaluaciones %}
                    <th scope="col">
                        {{ evaluacion.nombre_evaluacion }} 
                        {{ evaluacion.porcentaje }}%
                    </th>
                    {% endfor %}
                    <th scope="col">NT <br></br></th>
                    <th scope="col">CATEGORIA <br></br></th>
                    <th scope="col">OBSERVACION <br></br></th>
                </tr>
            </thead>
            <tbody> 
                {% for alumno in alumnos %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ alumno.nie }}</td>
                    <td>{{ alumno }}</td>
                    {% for evasalumno in evaluacionesalumno %}
                    {% if alumno.id_alumno == evasalumno.id_alumno.id_alumno %}
                    <td>{{ evasalumno.nota }}</td>
                    {% endif %}
                    {% empty %}
                    <td>No hay nota</td>
                    {% endfor %}
                    {% for promedio in promedios %}
                    {% if promedio.alumno.id_alumno == alumno.id_alumno %}
                    <td>{{ promedio.promedio }}</td>
                    <input type="hidden" name="promedio_{{ alumno.id_alumno }}" value="{{ promedio.promedio }}">
                    <td>{% if promedio.promedio > 5 %}A{% else %}R{% endif %}</td>
                    {% endif %}
                    {% empty %}
                    <td>-</td>
                    <td>-</td>
                    {% endfor %}
                    <td> 
                        <div class="form-floating mb-3">
                          <input type="input" class="form-control" name="opcional_{{alumno.id_alumno }}" id="floatingInput">
                            <label for="floatingInput">Opcional</label>
                        </div>
                    </td>
                </tr>
                {% endfor %}            
            </tbody>
        </table>
         <a ><button type="submit" class="btn btn-primary" >Generar Reporte Excel</button></a> 
         <input type="hidden" name="trimestre" value="{{trimestre}}">
         <input type="hidden" name="grado" value="{{gradoseccion.id_gradoseccion}}">
       </form>
    </div>
</div>
<div class="container-xl px-4 mt-5">
  </div>
</div>
</div>

</div>
{% endblock %}