{% load static %}
<div id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">

                <!-- Sidenav Menu Heading (Core)-->
                <div class="sidenav-menu-heading">Core</div>
                <!-- Sidenav Accordion (Dashboard)-->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseDashboards" aria-expanded="false" aria-controls="collapseDashboards">
                    <div class="nav-link-icon"><i data-feather="activity"></i></div>
                    Grados
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseDashboards" data-bs-parent="#accordionSidenav">
                    <!-- dashboard lateral -->
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" href="{% url 'sgn_app:crear_eva_est'%}">
                            Gestión evaluación
                            <!-- <span class="badge bg-primary-soft text-primary ms-auto">Updated</span> -->
                        </a>
                        {% comment %} <a class="nav-link" href="{% url 'sgn_app:list_evas_not'%}">Listar Evaluaciones alumnos</a> {% endcomment %}
                        <a class="nav-link" href="dashboard-3.html">Affiliate</a>
                    </nav>
                </div>

                <!-- GESTOR DEL ADMINISTRADOR-->
                {% if user.is_superuser %}
                <div class="sidenav-menu-heading">ADMINISTRACIÓN DEL SISTEMA</div>
                <!-- Sidenav Accordion (Docente)-->
                <a id="navDocentes" class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseDocentes" aria-expanded="false" aria-controls="collapseDocentes">
                    <div class="nav-link-icon"><i class="fa fa-users"></i></div>
                    Docentes
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseDocentes" data-bs-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a id="agregarDocente" class="nav-link" href="{% url 'sgn_app:crear_docente' %}">
                            Agregar docente
                            <span class="badge bg-primary-soft text-primary ms-auto">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </span>
                        </a>
                        <a id="listarDocentes" class="nav-link" href="{% url 'sgn_app:listado_docentes'%}">
                            Listado de docentes
                            <span class="badge bg-primary-soft text-primary ms-auto">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </span>
                        </a>
                        <a id="gestionCargaLaboral" class="nav-link" href="{% url 'sgn_app:asignar_clases'%}">
                            Carga Laboral
                            <span class="badge bg-primary-soft text-primary ms-auto">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                            </span>
                        </a>
                    </nav>
                </div>

                <!-- Sidenav Accordion (Trimestre)-->
                <a id="navTrimestre" class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseTrimestre" aria-expanded="false" aria-controls="collapseTrimestre">
                    <div class="nav-link-icon"><i class="fa fa-calendar"></i></div>
                    Trimestre
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseTrimestre" data-bs-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a id="agregarTrimestre" class="nav-link" href="{% url 'sgn_app:crear_trimestre' %}">
                            Crear Trimestre
                            <span class="badge bg-primary-soft text-primary ms-auto">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </span>
                        </a>
                        <a id="listarTrimestre" class="nav-link" href="">
                            Consultar Trimestre
                            <span class="badge bg-primary-soft text-primary ms-auto">
                                <i class="fa fa-book-open" aria-hidden="true"></i>
                            </span>
                        </a>
                        <a id="gestionTrimestre" class="nav-link" href="{% url 'sgn_app:crear_trimestre' %}">
                            Actualizar Trimestre
                            <span class="badge bg-primary-soft text-primary ms-auto">
                                <i class="fa fa-book" aria-hidden="true"></i>
                            </span>
                        </a>
                    </nav>
                </div>



                {% endif %}
                <!-- FIN GESTOR DEL ADMINISTRADOR-->

                
                <!-- Sidenav Heading (Custom)-->
                <div class="sidenav-menu-heading">Custom</div>
                <!-- Sidenav Accordion (Pages)-->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <div class="nav-link-icon"><i data-feather="grid"></i></div>
                    Pages
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" data-bs-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">

                        <!-- Nested Sidenav Accordion (Pages -> Authentication)-->
                        <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                            Authentication
                            <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseAuth" data-bs-parent="#accordionSidenavPagesMenu">
                            <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesAuth">
                                <!-- Nested Sidenav Accordion (Pages -> Authentication -> Basic)-->
                                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuthBasic" aria-expanded="false" aria-controls="pagesCollapseAuthBasic">
                                    Basic
                                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuthBasic" data-bs-parent="#accordionSidenavPagesAuth">
                                    <nav class="sidenav-menu-nested nav">
                                        <a class="nav-link" href="auth-login-basic.html">Login</a>
                                        <a class="nav-link" href="auth-register-basic.html">Register</a>
                                        <a class="nav-link" href="auth-password-basic.html">Forgot Password</a>
                                    </nav>
                                </div>
                                <!-- Nested Sidenav Accordion (Pages -> Authentication -> Social)-->
                                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuthSocial" aria-expanded="false" aria-controls="pagesCollapseAuthSocial">
                                    Social
                                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuthSocial" data-bs-parent="#accordionSidenavPagesAuth">
                                    <nav class="sidenav-menu-nested nav">
                                        <a class="nav-link" href="auth-login-social.html">Login</a>
                                        <a class="nav-link" href="auth-register-social.html">Register</a>
                                        <a class="nav-link" href="auth-password-social.html">Forgot Password</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                    </nav>
                </div> 

            </div>
        </div>
        <!-- Sidenav Footer-->
        <div class="sidenav-footer">
            <div class="sidenav-footer-content">
                <div class="sidenav-footer-subtitle">A iniciado sesión:</div>
                <div class="sidenav-footer-title">{{user.get_full_name}}</div>
            </div>
        </div>
    </nav>
</div>