{% extends 'layouts/dashboard.html' %}

{% comment %} {% include 'registration/login.html' %} {% endcomment %}

{% block metadata %}
<title>Editar Evaluacion</title>
{% endblock %}

{% block content %}
{% load static %}
<!--PARA FIJAR LA OPCIÓN EN LA BARRA DE NAVEGACIÓN-->
<div id="idmateria" class="d-none">
  {{evaluacion.id_gradoseccionmateria.id_materia.id_materia}}
</div>
<div id="idgrado" class="d-none">
  {{evaluacion.id_gradoseccionmateria.id_gradoseccion.id_gradoseccion}}
</div>
<div class="text-center">
  <h1 class="d-flex justify-content-center mt-5">{{evaluacion.nombre_evaluacion}}</h1>
</div>
<div class="row align-items-center justify-content-center">
  <div class="col-xl-8 px-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <form method="post"  >{% csrf_token %}
            <div class="row">
                <input class="d-none" type="number" name="id_evaluacion" id="id_evaluacion" value={{evaluacion.id_evaluacion}}>
                <label for="nombre_evalucion">Nombre evaluacion</label>
                <input title="Ingrese el nuevo nombre de la evaluación" class="form-control mb-2" type="text" name="nombre_evaluacion" id="nombre_evaluacion" value="{{evaluacion.nombre_evaluacion}}" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>        
        </form>
        </div> 
      </div>
    </div>
  </div>
</div>
<script>
  // PARA MANEJAR LA BARRA DE NAGEVACIÓN PARA EVALUAR
  window.onload = function () {
      var idmateria = document.getElementById("idmateria").textContent.trim();  // Limpia el contenido del ID
      var idgrado = document.getElementById("idgrado").textContent.trim();  // Limpia el contenido del ID
      const collapseGrados = document.getElementById('collapseMaterias');
      const collapseMaterias = document.getElementById('pagesMaterias'+idgrado)
      const materia = document.getElementById('Materia'+idmateria);
      const grado = document.getElementById('Grado'+idgrado);
      collapseMaterias.classList.add('show');
      materia.classList.add('active');
      grado.classList.add('active');
      collapseGrados.classList.add('show');
  }
</script>
{% endblock %}