{% extends 'layouts/dashboard.html' %}

{% comment %} {% include 'registration/login.html' %} {% endcomment %}

{% block metadata %}
<title>Inicio - SGN1302</title>
{% endblock %}

{% block content %}
{% load static %}
<br />
<div class="container-xl px-4">

    {% if messages %}
    {% for message in messages %}
    <div class="container-xl px-4 mt-4">
        <div class="alert alert-primary alert-icon border-start-lg" role="alert">
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
            <div class="alert-icon-aside">
                <i class="far fa-bell"></i>
            </div>
            <div class="alert-icon-content">
                <h6 class="alert-heading">Notificación</h6>
                {{message}}
            </div>
        </div>
      </div>
    {% endfor %}
    {% endif %}
    
    <form method="get">
       <div class="row mb-3">
        <div class="col-xl-6 col-sm-5 col-12">
            {{filter_form.id_trimestre}}
        </div>
        <div class="col-xl-6 col-sm-7">
            <button id="filtro_boton" onclick="activarlista()" class="btn btn-primary d-none" type="submit">
                <i data-feather="search"></i> &nbsp;Buscar
            </button>
            {% if evas.first %}
            <div id="cargaPromedio" class="row justify-content-end d-none">
                <div class="col-auto">
                    <a class="btn btn-outline-primary" href="{% url 'sgn_app:ver_Promedios' idgrado=evas.first.id_gradoseccionmateria.id_gradoseccionmateria idtrimestre=evas.first.id_trimestre.id_trimestre %}">
                        <i class="me-1" data-feather="download"></i>
                        Ver Promedios
                    </a>
                </div>
            </div>
            {% endif %}            
        </div>
       </div>
    </form>
    

    <div id="lista_evaluaciones" class="row d-none">
   
        {% for eva in evas %}
            
        <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
            <div class="card border-top-lg border-primary lift rounded overflow-hidden mb-2">
                <div class="card-body text-center">
                    <div class="row text-start">
                        <a title="Cambiar nombre de evaluación" href="{% url 'sgn_app:actualizar_evaluacion_docente' idEvaluacion=eva.id_evaluacion %}" role="button">
                            <i data-feather="edit"></i>
                        </a>
                    </div>
                    
                    {% if eva.estado == 0 %}
                    <div>
                        <a title="Habilitar Evaluación" class="btn btn-danger btn-sm position-absolute top-0 end-0 mt-2 me-2" href="{% url 'sgn_app:habilitar_evaluacion' idgsm=eva.id_gradoseccionmateria.id_gradoseccionmateria idtri=evas.first.id_trimestre.id_trimestre id=eva.id_evaluacion %}" role="button">
                            <i data-feather="eye-off"></i> 
                        </a>
                    </div>
                    {%else%}
                    <div>
                         <a title="Deshabilitar Evaluación" class="btn btn-success btn-sm position-absolute top-0 end-0 mt-2 me-2" href="{% url 'sgn_app:deshabilitar_evaluacion' idgsm=eva.id_gradoseccionmateria.id_gradoseccionmateria idtri=evas.first.id_trimestre.id_trimestre id=eva.id_evaluacion %}" role="button">
                            <i data-feather="eye"></i> 
                            
                        </a>
                    </div>
                    {%endif%}


                    <div class="text-uppercase-expanded">
                        {{eva.id_categoria}}
                    </div>
                    <a title="Ingresar notas" href="{% url 'sgn_app:list_evas_not' idEvaluacion=eva.id_evaluacion %}">
                        {{eva.nombre_evaluacion}}
                    </a>
                    <div class="text-uppercase">
                        {{eva.porcentaje}}%
                    </div>
                    <!--PARA FIJAR LA OPCIÓN EN LA BARRA DE NAVEGACIÓN-->
                    <div id="idmateria" class="d-none">
                        {{eva.id_gradoseccionmateria.id_gradoseccionmateria}}
                    </div>
                    <div id="idgrado" class="d-none">
                        {{eva.id_gradoseccionmateria.id_gradoseccion.id_gradoseccion}}
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
    
    
</div>

<script>
    window.addEventListener('DOMContentLoaded', function() {
        // Extracción de componente select para el filtro
        var idTrimestreField = document.getElementById("id_id_trimestre");
        // Se le agrega un estilo
        idTrimestreField.classList.add("form-select");
        // Extracción de componente div para la lista de evaluaciones
        var myDiv = document.getElementById("lista_evaluaciones");
        var cargaPromedio = document.getElementById("cargaPromedio");

        // Si contiene un valor seleccionado en el componente, se muestra la
        // lista de evaluaciones
        if (idTrimestreField.value !== "") {
            myDiv.classList.remove("d-none");
            cargaPromedio.classList.remove("d-none");
        }

    });
    // PARA MANEJAR LA BARRA DE NAGEVACIÓN PARA EVALUAR
    window.onload = function () {
        var idmateria = document.getElementById("idmateria").textContent.trim();  // Limpia el contenido del ID
        var idgrado = document.getElementById("idgrado").textContent.trim();  // Limpia el contenido del ID
        const collapseGrados = document.getElementById('collapseMaterias');
        const collapseMaterias = document.getElementById('pagesMaterias'+idgrado)
        const materia = document.getElementById('Materia'+idmateria);
        const grado = document.getElementById('Grado'+idgrado);
        collapseMaterias.classList.add('show');
        materia.classList.add('active');
        grado.classList.add('active');
        collapseGrados.classList.add('show');
    }
    
    // PARA DISPARAR Y PERSONALIZAR EL FILTRO DE EVALUACIONES TRIMESTRALES
    document.addEventListener("DOMContentLoaded", function() {
    const selectElement = document.querySelector("#id_id_trimestre");
    const botonBuscar = document.querySelector("#filtro_boton");
    const selectTrimestre = document.getElementById("id_id_trimestre");
        
    // Cambiar el texto de la opción predeterminada
    selectTrimestre.querySelector("option[value='']").textContent = "Seleccione el trimestre";
    // Evento de cambio en el select
    selectElement.addEventListener("change", function() {
        // Simular un clic en el botón
        botonBuscar.click();
    });
    });

    


</script>

{% endblock %}