{% extends 'layouts/dashboard.html' %}

{% comment %} {% include 'registration/login.html' %} {% endcomment %}

{% block metadata %}
<title>Inicio - SGN1302</title>
{% endblock %}

{% block content %}
{% load static %}
<br />
<div class="container-xl px-4">
    
    <div class="row">
        {% for eva in evas%}

        <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
            <div class="card d-block lift rounded overflow-hidden mb-2">
                <div class="card-header">
                    <a href="{% url 'sgn_app:list_evas_not' idEvaluacion=eva.id_evaluacion %}">{{eva.nombre_evaluacion}}</a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    <form method="get">
        {{ filter_form.as_p }}
        <input type="submit" />
    </form>
</div>
{% endblock %}