{% extends 'layouts/dashboard.html' %}

{% block metadata %}
<title>Privilegios de Usuario</title>
{% endblock %}

{% block content %}

{% load static %}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid px-4">
      <div class="page-header-content">
        <div class="row align-items-center justify-content-between pt-3">
          <div class="col-auto mb-3">
            <h1 class="page-header-title">
              <div class="page-header-icon"><i data-feather="star"></i></div>
              Privilegios de Usuarios
            </h1>
          </div>
          <div class="col-12 col-xl-auto mb-3">
            <a class="btn btn-sm btn-light text-primary" href="{% url 'sgn_app:crear_docente' %}">
              <i class="me-1" data-feather="user-plus"></i>
              Agregar nuevo docente
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <div class="container-xl px-4">
    <div class="card mb-4">
      <div class="card-body">
        <table id="datatablesSimple" class="table table-hover">
          <thead>
            <tr>
              <th>Usuario</th>
              <th>DUI</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th class="text-center">Roles</th>
              <th class="text-center">Acciones</th>
              <th class="d-none">Status</th>
              <th class="d-none">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for docente in docentes %}
            {% for usuario in users %}
                {% if usuario.username == docente.numidentificacion %}
                
            <tr>
              <td>{{docente.numidentificacion}}</td>
              <td>{{docente.dui}}</td>
              <td>{{docente.nombre_docente}}</td>
              <td>{{docente.apellido_docente}}</td>
              <td class="text-center">
                <span class="btn btn-secondary btn-xs rounded-pill">Docente</span>
                {% if usuario.is_superuser %}
                <span class="btn btn-primary btn-xs rounded-pill">Administrador</span>
                {% endif %}
              </td>
              <td class="text-center">
                {% if usuario.is_superuser %}
                <a  href="{{docente.numidentificacion}} " class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Quitar a este usuario los privilegios de administrador">
                  <i class="fa fa-star me-1" aria-hidden="true"></i>
                  Eliminar
                </a>
                {% else %}
                <a  href="{{docente.numidentificacion}} " class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Designar a este usuario los privilegios de administrador">
                  <i class="fa fa-star me-1" aria-hidden="true"></i>
                  Designar
                </a>
                {% endif %}
                
              </td>
              <td class="d-none">No utilizado</td>
              <td class="d-none">No utilizado</td>
            </tr>
            
            {% endif %}
            {% endfor %}
            {% endfor %}
  
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    window.onload = function () {
      const navDocentes = document.getElementById('navDocentes');
      const collapseDocentes = document.getElementById('collapseDocentes');
      const cambiarRol = document.getElementById('cambiarRol');
      navDocentes.classList.add('active');
      cambiarRol.classList.add('active');
      collapseDocentes.classList.add('show');
    };
  </script>
{% endblock %}