{% extends 'layouts/dashboard.html' %} {% block metadata %}
<title>Listado - SGN1302</title>
{% endblock %} {% block content %} {% load static %}

<header
  class="page-header page-header-compact page-header-light border-bottom bg-white mb-4"
>
  <div class="container-fluid px-4">
    <div class="page-header-content">
      <div class="row align-items-center justify-content-between pt-3">
        <div class="col-auto mb-3">
          <h1 class="page-header-title">
            <div class="page-header-icon"><i data-feather="user"></i></div>
            Listado de Docentes
          </h1>
        </div>
        <div class="col-12 col-xl-auto mb-3">
          <a
            class="btn btn-sm btn-light text-primary"
            href="{% url 'sgn_app:crear_docente' %}"
          >
            <i class="me-1" data-feather="user-plus"></i>
            Agregar nuevo docente
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- <div class="container-xl px-4">
  <div class="card mb-4">
    <div class="card-body">
      <table id="datatablesSimple" class="table table-bordered">
        <thead>
          <tr>
            <th>Username</th>
            <th>DUI</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Username</th>
            <th>DUI</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Acciones</th>
          </tr>
        </tfoot>
        <tbody>
          {% for docente in docentes %}
          <tr>
            <td>{{docente.numidentificacion}}</td>
            <td>{{docente.dui}}</td>
            <td>{{docente.nombre_docente}}</td>
            <td>{{docente.apellido_docente}}</td>
            <td>
              <button
                class="btn btn-datatable btn-icon btn-transparent-dark me-2">
                <i data-feather="more-vertical"></i>
              </button>
              <button class="btn btn-datatable btn-icon btn-transparent-dark">
                <i data-feather="trash-2"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div> -->

<div class="container-xl px-4">
  <div class="card mb-4">
    <div class="card-body">
      
      <table id="datatablesSimple" class="table table-bordered">
        <thead>
          <tr>
            <th>Username</th>
            <th>DUI</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Estado</th>
            <th>Acciones</th>
            <th class="d-none">Status</th>
            <th class="d-none">Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Username</th>
            <th>DUI</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Estado</th>
            <th>Acciones</th>
            <th class="d-none">Status</th>
            <th class="d-none">Actions</th>
          </tr>
        </tfoot>
        <tbody>
          {% for docente in docentes %}
          <tr>
            <td>{{docente.numidentificacion}}</td>
            <td>{{docente.dui}}</td>
            <td>{{docente.nombre_docente}}</td>
            <td>{{docente.apellido_docente}}</td>
            
            <td>
              {% for usuario in users %}
                {% if usuario.username == docente.numidentificacion %}
                {% if usuario.is_active %}
              <span>Activo</span>
              {% else %}
              <span>Inactivo</span>
              {% endif %}  
              {% endif %}  
              {% endfor %}
            </td>

          </td>

            <td>
              <a
                name=""
                id=""
                class=""
                href="{% url 'sgn_app:editar_docente' docente.numidentificacion %}"
                role="button"
                ><i data-feather="edit"></i>
              </a>

              <a
                name=""
                id=""
                class=""
                href="{% url 'sgn_app:habilitar_usuario' docente.numidentificacion %}"
                role="button"
                ><i data-feather="user-check"></i
              ></a>

              <a
                name=""
                id=""
                class=""
                href="{% url 'sgn_app:deshabilitar_usuario' docente.numidentificacion %}"
                role="button"
                ><i data-feather="user-x"></i
              ></a>
            </td>

            <td class="d-none">No utilizado</td>
            <td class="d-none">No utilizado</td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  window.onload = function () {
    const navGestor = document.getElementById("navGestor");
    const collapseGestor = document.getElementById("collapseGestor");
    const lGestor = document.getElementById("lGestor");
    navGestor.classList.add("active");
    lGestor.classList.add("active");
    collapseGestor.classList.add("show");
  };
</script>

{% endblock %}
