{% extends 'layouts/dashboard.html' %} {% block metadata %}
<title>Listado - SGN1302</title>
{% endblock %} {% block content %} {% load static %}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
  <div class="container-fluid px-4">
    <div class="page-header-content">
      <div class="row align-items-center justify-content-between pt-3">
        <div class="col-auto mb-3">
          <h1 class="page-header-title">
            <div class="page-header-icon"><i data-feather="user"></i></div>
            Listado de Docentes
          </h1>
        </div>
        <div class="col-12 col-xl-auto mb-3">
          <a class="btn btn-sm btn-light text-primary" href="{% url 'sgn_app:crear_docente' %}">
            <i class="me-1" data-feather="user-plus"></i>
            Agregar nuevo docente
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
{% if messages %}
{% for message in messages %}

<div class="container-xl px-4 mt-4">
  <div class="alert alert-primary alert-icon border-start-lg" role="alert">
    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    <div class="alert-icon-aside">
      <i class="far fa-bell"></i>
    </div>
    <div class="alert-icon-content">
      <h6 class="alert-heading">Notificación</h6>
      {{message}}
    </div>
  </div>
</div>

{% endfor %}
{% endif %}
<div class="container-xl px-4">
  <div class="card mb-4">
    <div class="card-body">
      <table id="datatablesSimple" class="table table-hover">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>DUI</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th class="text-center">Estado</th>
            <th class="text-center" colspan="3">Acciones</th>
            <th class="d-none">Status</th>
            <th class="d-none">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for docente in docentes %}
          <tr>
            <td>{{docente.numidentificacion}}</td>
            <td>{{docente.dui}}</td>
            <td>{{docente.nombre_docente}}</td>
            <td>{{docente.apellido_docente}}</td>
            <td class="text-center">
              {% for usuario in users %}
              {% if usuario.username == docente.numidentificacion %}
              {% if usuario.is_active %}
              <span>Activo</span>
              {% else %}
              <span>Inactivo</span>
              {% endif %}
              {% endif %}
              {% endfor %}
            </td>
            <td class="text-center">
              <a class="btn btn-outline-primary" title="Editar usuario del sistema" href="{% url 'sgn_app:editar_docente' docente.numidentificacion %}">
                <i data-feather="edit"></i>&nbsp;
                Editar
              </a>
            </td>

            <td class="text-center">
              <a class="btn btn-outline-primary" title="Cambiar Contraseña" href="{% url 'sgn_app:editar_docente_password' docente.numidentificacion %}">
                <i data-feather="key"></i>&nbsp;
              </a>
            </td>
            
            <td>
              {% for usuario in users %}
              {% if usuario.username == docente.numidentificacion %}
              {% if usuario.is_active %}
              <a class="btn btn-outline-danger" title="Deshabilitar al usuario del sistema" href="{% url 'sgn_app:deshabilitar_usuario' docente.numidentificacion %}">
                <i data-feather="user-x"></i>&nbsp;
                Deshabilitar
              </a>
              {% else %}
              <a class="btn btn-outline-success" title="Habilitar al usuario para el sistema" href="{% url 'sgn_app:habilitar_usuario' docente.numidentificacion %}">
                <i data-feather="user-check"></i>&nbsp;
                Habilitar
              </a>
              {% endif %}
              {% endif %}
              {% endfor %}
            </td>
            <td class="d-none">No utilizado</td>
            <td class="d-none">No utilizado</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  window.onload = function () {
    const navDocentes = document.getElementById('navDocentes');
    const collapseDocentes = document.getElementById('collapseDocentes');
    const listarDocentes = document.getElementById('listarDocentes');
    navDocentes.classList.add('active');
    listarDocentes.classList.add('active');
    collapseDocentes.classList.add('show');
  };
</script>

{% endblock %}