{% extends 'layouts/dashboard.html' %} {% block metadata %}
<title>Listado - SGN1302</title>
{% endblock %} {% block content %} {% load static %}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
  <div class="container-fluid px-4">
    <div class="page-header-content">
      <div class="row align-items-center justify-content-between pt-3">
        <div class="col-auto mb-3">
          <h1 class="page-header-title">
            <div class="page-header-icon"><i data-feather="user"></i></div>
            Listado de Docentes
          </h1>
        </div>
        <div class="col-12 col-xl-auto mb-3">
          <a class="btn btn-sm btn-light text-primary" href="{% url 'sgn_app:crear_docente' %}">
            <i class="me-1" data-feather="user-plus"></i>
            Agregar nuevo docente
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container-xl px-4">
  <div class="card mb-4">
    <div class="card-body">
      <table id="datatablesSimple" class="table table-bordered">
        <thead>
          <tr>
            <th>Username</th>
            <th>DUI</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Acciones</th>
            <th class="d-none">Status</th>
            <th class="d-none">Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Username</th>
            <th>DUI</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Acciones</th>
            <th class="d-none">Status</th>
            <th class="d-none">Actions</th>
          </tr>
        </tfoot>
        <tbody>
          {% for docente in docentes %}
          <tr>
            <td>{{docente.numidentificacion}}</td>
            <td>{{docente.dui}}</td>
            <td>{{docente.nombre_docente}}</td>
            <td>{{docente.apellido_docente}}</td>
            <td class="text-center">
              {% for usuario in users %}
              {% if usuario.username == docente.numidentificacion %}
              {% if usuario.is_active %}
              <span>Activo</span>
              {% else %}
              <span>Inactivo</span>
              {% endif %}
              {% endif %}
              {% endfor %}
            </td>
            <td class="text-center">
              <a href="{% url 'sgn_app:editar_docente' docente.numidentificacion %}" role="button">
                <i data-feather="edit"></i>
              </a>
              <a href="{% url 'sgn_app:habilitar_usuario' docente.numidentificacion %}" role="button">
                <i data-feather="user-check"></i>
              </a>
              <a href="{% url 'sgn_app:deshabilitar_usuario' docente.numidentificacion %}" role="button">
                <i data-feather="user-x"></i></a>
            </td>
            <td class="d-none">No utilizado</td>
            <td class="d-none">No utilizado</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  window.onload = function () {
    const navDocentes = document.getElementById('navDocentes');
    const collapseDocentes = document.getElementById('collapseDocentes');
    const listarDocentes = document.getElementById('listarDocentes');
    navDocentes.classList.add('active');
    listarDocentes.classList.add('active');
    collapseDocentes.classList.add('show');
  };
</script>

{% endblock %}