{% extends 'layouts/dashboard.html' %}

{% comment %} {% include 'registration/login.html' %} {% endcomment %}

{% block metadata %}
<title>Estudiante</title>
{% endblock %}

{% block content %}
{% load static %}

{% if submitted %}
Tu actividad ha sido creada exitosamente
{%else%}

<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-xl-12">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Datos Alumnos</div>
                <div class="card-body">
                    <form method = "POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-5 mx-auto">

                                <div class="mb-3">
                                    <div class="">
                                        <div class="text-center"><h3 class="d-flex justify-content-center mt-lg-5">{{ form.id_gradoseccion.label}}</h3>
                                        </div>
                                        
                                        {{ form.id_gradoseccion}}
                                    
                                  </div>

                                  <div class="mb-3">
                                    <div class="">
                                        <div class="text-center"><h3 class="d-flex justify-content-center mt-lg-5">{{ form.nie.label}}</h3>
                                        </div>
                                        
                                        {{ form.nie}}
                                  </div>

                                  <div class="mb-3">
                                    <div class="">
                                        <div class="text-center"><h3 class="d-flex justify-content-center mt-lg-5">{{ form.apellidos_alumno.label}}</h3>
                                        </div>
                                        
                                        {{ form.apellidos_alumno}}
                                  </div>

                                  <div class="mb-3">
                                    <div class="">
                                        <div class="text-center"><h3 class="d-flex justify-content-center mt-lg-5">{{ form.nombres_alumno.label}}</h3>
                                        </div>
                                        
                                        {{ form.nombres_alumno}}
                                  </div>

                                  <div class="mb-3">
                                    <div class="">
                                        <div class="text-center"><h3 class="d-flex justify-content-center mt-lg-5">{{ form.estado.label}}</h3>
                                        </div>
                                        
                                        {{ form.estado}}
                                  </div>

                            </div>

                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary" id="save">Registrar</button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif%}

{% endblock %}