{% extends 'layouts/dashboard.html' %}

{% block metadata %}
<title>Habilitar Deshabilitar Alumnos</title>
{% endblock %}
{% block content %}
{% load static %}
{% if messages %}
{% for message in messages %}
<div class="container-xl px-4 mt-4">
  <div class="alert alert-primary alert-icon border-start-lg" role="alert">
      <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
      <div class="alert-icon-aside">
          <i class="far fa-bell"></i>
      </div>
      <div class="alert-icon-content">
          <h6 class="alert-heading">Notificación</h6>
          {{message}}
      </div>
  </div>
</div>
{% endfor %}
{% endif %}

<div class="text-center">
  <h1 class="d-flex justify-content-center mt-5">Alumnos de {{ seccion }}</h1>
</div>
<div class="container-xl px-4 mt-5">
    <div class="card mb-4">
      <div class="card-body">
        <table id="datatablesSimple" class="table table-bordered">
          <thead>
            <tr>
              <th>NIE</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Grado y Seccion</th>
              <th>Estado</th>
              <th>Accion</th>
              <th class="d-none">Salary</th>
              <th class="d-none">Status</th>
              <th class="d-none">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for alumno in object_list  %}
            <tr>
              <td>{{alumno.nie}} </td>
              <td>{{alumno.nombres_alumno}} </td>
              <td>{{alumno.apellidos_alumno}}</td>
              <td>{{alumno.id_gradoseccion}}</td>
              {% if alumno.estado == "1" %}
              <td>
                Habilitado
              </td>
              <td>
                <a  class="btn btn-danger" href="deshabilitarAlumno/{{alumno.id_alumno}}">Deshabilitar</a>
              </td>  
                  {% else %}
                  <td>
                    Deshabilitado
                  </td>
                  <td>
                    <a class=" btn btn-info" href=" habilitarAlumno/{{alumno.id_alumno}}">Habilitar</a>
                  </td>
              {% endif %}     
              <td class="d-none">No utilizado</td>
              <td class="d-none" >No utilizado</td>
              <td class="d-none">No utilizado</td>     
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
{% endblock %}