{% extends 'layouts/dashboard.html' %}

{% comment %} {% include 'registration/login.html' %} {% endcomment %}

{% block metadata %}
<title>HU-03</title>
{% endblock %}

{% block content %}
{% load static %}
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container-xl px-4 mt-n10">
    <div class="card mb-4">
        <div class="card-header">Listado de alumnos</div>
        <div class="card-body">
            
            <table id="datatablesSimple" class = "table table-bordered" >
                <thead>
                    <tr>
                        <th>Evaluacion</th>
                        <th>Estudiante</th>
                        <th>Nota</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for estudiante in estudiantes %}
                    <tr>
                        <td>{{estudiante.id_evaluacion}}</td>
                        <td>{{estudiante.id_alumno}}</td>
                        <td>{{estudiante.nota}}</td>
                        <!-- modificar el estado dependiendo si est an e 0 o no -->
                        <td><div class="badge bg-warning rounded-pill">Pending</div></td>
                        <td>
                            <a href="{% url 'sgn_app:edit_evas_not' estudiante.id_evaluacionalumno %}">Actualizar</a>
                        </td>                
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
<br/>
<br/>
<br/>
<br/>

<div class="container-xl px-4 mt-n10">
    <div class="card mb-4">
        <div class="card-header">Calificar alumno</div>
        <div class="card-body">
            <form action="" method="post"> {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Guardar">
            </form>
        </div>
    </div>
</div>



{% endblock %}