{% extends 'layouts/dashboard.html' %}

{% comment %} {% include 'registration/login.html' %} {% endcomment %}

{% block metadata %}
<title>HU-03</title>
{% endblock %}

{% block content %}
{% load static %}


<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-xl px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="text-center text-uppercase-expanded fw-900 fs-4">
                    EVALUACIÓN
                </div>
                <div class="text-center text-uppercase-expanded fw-300">
                    {{estudiantes.first.id_evaluacion}}
                </div>
            </div>
        </div>
    </div>
</header>
{% if messages %}
{% for message in messages %}
<div class="container-xl px-4 mt-4">
    <div class="alert alert-primary alert-icon border-start-lg" role="alert">
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        <div class="alert-icon-aside">
            <i class="far fa-bell"></i>
        </div>
        <div class="alert-icon-content">
            <h6 class="alert-heading">Notificación</h6>
            {{message}}
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
<!--PARA FIJAR LA OPCIÓN EN LA BARRA DE NAVEGACIÓN-->
<div id="idmateria" class="d-none">
    {{estudiantes.first.id_evaluacion.id_gradoseccionmateria.id_gradoseccionmateria}}
</div>
<div id="idgrado" class="d-none">
    {{estudiantes.first.id_evaluacion.id_gradoseccionmateria.id_gradoseccion.id_gradoseccion}}
</div>

<div class="container-xl px-4 mt-1">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">Listado de alumnos</div>
                <div class="card-body table-responsive"> 
                    <table id="datatablesSimple" class = "table table-hover" >
                        <thead>
                            <tr>
                                <th>Estudiante</th>
                                <th class="text-center">Nota</th>
                                <th class="d-none">Estado</th>
                                <th class="text-center">Acciones</th>
                                <th class="d-none">Salary</th>
                                <th class="d-none">Status</th>
                                <th class="d-none">Actions</th>
                                <th class="d-none">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for estudiante in estudiantes %}
                                {% if estudiante.id_alumno.estado == '1' %}
                                <tr>
                                    <td>{{estudiante.id_alumno}}</td>
                                    <!-- validar si tiene asignada evaluacion -->
                                    {% if estudiante.nota is None %}
                                        <td class="text-center">
                                            <span class="btn btn-warning btn-xs rounded-pill">Sin nota</span>
                                        </td>
                                    {% else %}
                                        <td class="text-center">{{estudiante.nota}}</td>
                                    {% endif %}
                                    
                                    <!-- modificar el estado dependiendo si est an e 0 o no -->
                                    <td class="d-none"></td>
                                    <td class="text-center">
                                        <a class="btn btn-outline-primary" title="Colocarle nota al alumno de este registro" href="#" onclick="actualizarRegistro('{{estudiante.id_evaluacion.id_evaluacion}}', '{{estudiante.id_alumno.id_alumno}}','{{estudiante.id_alumno.nombres_alumno}}','{{estudiante.id_alumno.apellidos_alumno}}', '{{estudiante.nota}}')">
                                            <i class="me-1" data-feather="edit"></i>
                                            Asignar
                                        </a>
                                    </td> 
                                    <td class="d-none">No utilizado</td>
                                    <td class="d-none" >No utilizado</td>
                                    <td class="d-none">No utilizado</td>   
                                    <td class="d-none">No utilizado</td>                           
                                </tr>
                                {% endif %}
                            {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Sticky Navigation-->
        <div class="col-lg-4">
            <div class="nav-sticky">
                <div class="card">
                    <div class="card-header">Calificar alumno</div>
                    <div class="card-body">
                        <form action="" method="post"> {% csrf_token %}
                            <div class="mb-3">
                                <input class="form-control d-none" type="text" id="idEvaluacion" name="idEvaluacion" value="{{estudiantes.first.id_evaluacion.id_evaluacion}}">
                                <label for="estudiante">Estudiante</label>
                                <select class="form-control mb-3" id="idAlumno" name="idAlumno">
                                    <option value="" disabled selected>Seleccione un estudiante</option>
                                    {% for estudiante in estudiantes %}
                                    <option value="{{estudiante.id_alumno.id_alumno}}">{{estudiante.id_alumno}}</option>
                                    {% endfor %}
                                </select>
                                <label for="nota">Nota</label>
                                <input class="form-control" type="number" id="nota" name="nota" min="0" max="10" step="0.1">
                            </div>
                            <button type="submit" class="btn btn-primary" onclick="activarSelect()">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function actualizarRegistro(idEvaluacion, idAlumno,nombresAlumno,apellidosAlumno, nota) {

    var selectAlumno = document.getElementById('idAlumno');
    document.getElementById('idEvaluacion').value = idEvaluacion;
    document.getElementById('nota').value = nota;

    // Crear el elemento option
    var option = document.createElement('option');
    
    // Establecer el valor y la visualización de la opción
    option.value = idAlumno;
    option.textContent = nombresAlumno + ' ' + apellidosAlumno;

    // Agregar la opción al select
    selectAlumno.appendChild(option);
    
    // Establecer el valor seleccionado en el select
    selectAlumno.value = idAlumno;
    selectAlumno.disabled = true;
    }

    function activarSelect() {
        var selectAlumno = document.getElementById('idAlumno');
        selectAlumno.disabled = false;
    }

    // PARA MANEJAR LA BARRA DE NAGEVACIÓN PARA EVALUAR
    window.onload = function () {
        var idmateria = document.getElementById("idmateria").textContent.trim();  // Limpia el contenido del ID
        var idgrado = document.getElementById("idgrado").textContent.trim();  // Limpia el contenido del ID
        const collapseGrados = document.getElementById('collapseMaterias');
        const collapseMaterias = document.getElementById('pagesMaterias'+idgrado)
        const materia = document.getElementById('Materia'+idmateria);
        const grado = document.getElementById('Grado'+idgrado);
        collapseMaterias.classList.add('show');
        materia.classList.add('active');
        grado.classList.add('active');
        collapseGrados.classList.add('show');
    }

</script>


{% endblock %}