{% extends 'layouts/dashboard.html' %} {% block metadata %}
<title>Listado - SGN1302</title>
{% endblock %} {% block content %} {% load static %}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
  <div class="container-fluid px-4">
    <div class="page-header-content">
      <div class="row align-items-center justify-content-between pt-3">
        <div class="col-auto mb-3">
          <h1 class="page-header-title">
            <div class="page-header-icon"><i class="fa fa-book-open" aria-hidden="true"></i></div>
            Trimestres del Año
          </h1>
        </div>
        <div class="col-12 col-xl-auto mb-3">
          <a class="btn btn-sm btn-light text-primary" href="{% url 'sgn_app:crear_eva_est'%}">
            <i class="me-1" data-feather="feather"></i>
            Agregar nueva evaluación
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="row align-items-center justify-content-center">
  <div class="col-xl-8 px-4">
    <div class="card mb-4">
      <div class="card-body">
        <table id="datatablesSimple" class="table table-bordered">
          <thead>
            <tr>
              <th>Trimestre</th>
              <th>Año</th>
              <th class="text-center">Acciones</th>
              <th class="d-none"></th>
              <th class="d-none"></th>
              <th class="d-none"></th>
              <th class="d-none"></th>
              <th class="d-none"></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Trimestre</th>
              <th>Año</th>
              <th class="text-center">Acciones</th>
              <th class="d-none"></th>
              <th class="d-none"></th>
              <th class="d-none"></th>
              <th class="d-none"></th>
              <th class="d-none"></th>
            </tr>
          </tfoot>
          <tbody>
            {% for trimestre in trimestres %}
            <tr>
              <td>{{trimestre.trimestre}}</td>
              <td>{{trimestre.anio}}</td>
              <td class="text-center">
                <a href="{% url 'sgn_app:modificar_trimestre' trimestre.id_trimestre %}" role="button">
                  <i data-feather="edit"></i>
                </a>
              </td>
              <td class="d-none"></td>
              <td class="d-none"></td>
              <td class="d-none"></td>
              <td class="d-none"></td>
              <td class="d-none"></td>
            </tr>
            {% endfor %}
  
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  window.onload = function () {
    const navTrimestre = document.getElementById('navTrimestre');
    const collapseTrimestre = document.getElementById('collapseTrimestre');
    const listarTrimestre = document.getElementById('listarTrimestre');
    navTrimestre.classList.add('active');
    listarTrimestre.classList.add('active');
    collapseTrimestre.classList.add('show');
  };
</script>

{% endblock %}