{% extends 'layouts/dashboard.html' %} {% block metadata %}
<title>Listado - SGN1302</title>
{% endblock %} {% block content %} {% load static %}


<header
  class="page-header page-header-compact page-header-light border-bottom bg-white mb-4"
>
  <div class="container-fluid px-4">
    <div class="page-header-content">
      <div class="row align-items-center justify-content-between pt-3">
        <div class="col-auto mb-3">
          <h1 class="page-header-title">
            <div class="page-header-icon">
              <i class="fa fa-book-open" aria-hidden="true"></i>
            </div>
            Trimestres
          </h1>
        </div>
        <div class="col-12 col-xl-auto mb-3">
          <a class="btn btn-sm btn-light text-primary" href="{% url 'sgn_app:crear_eva_est'%}">
            <i class="me-1" data-feather="feather"></i>
            Agregar Nueva Evaluación
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
        
{% if messages %}
{% for message in messages %}

<div class="container-xl px-4 mt-4">
    <div class="alert alert-primary alert-icon" role="alert">
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        <div class="alert-icon-aside">
            <i class="far fa-bell"></i>
        </div>
        <div class="alert-icon-content">
            <h6 class="alert-heading">Notificación</h6>
            {{message}}
        </div>
    </div>
</div>

{% endfor %}
{% endif %}        

<div class="row align-items-center justify-content-center">
  <div class="col-xl-8 px-4">
    <div class="card mb-4">
      <div class="card-body">
        <table id="datatablesSimple" class="table table-hover">
          <thead>
            <tr>
              <th>Trimestre</th>
              <th>Año</th>
              <th class="text-center">Acciones</th>
              <th class="d-none"></th>
              <th class="d-none"></th>
              <th class="d-none"></th>
              <th class="d-none"></th>
              <th class="d-none"></th>
            </tr>
          </thead>
          <tbody>
            {% for trimestre in trimestres %}
            <tr>
              <td>{{trimestre.trimestre}}</td>
              <td>{{trimestre.anio}}</td>
              <td class="text-center">
                <a class="btn btn-outline-primary" title="Editar este trimestre" href="{% url 'sgn_app:modificar_trimestre' trimestre.id_trimestre %}" role="button">
                  <i class="me-1" data-feather="edit"></i>
                  Editar
                </a>

                <a class="btn btn-outline-danger" title="Eliminar este trimestre" href="{% url 'sgn_app:eliminar_trimestre' trimestre.id_trimestre %}" role="button">
                  <i class="me-1" data-feather="trash-2"></i>
                  Eliminar
                </a>
              </td>
              <td class="d-none"></td>
              <td class="d-none"></td>
              <td class="d-none"></td>
              <td class="d-none"></td>
              <td class="d-none"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  window.onload = function () {
    const navTrimestre = document.getElementById("navTrimestre");
    const collapseTrimestre = document.getElementById("collapseTrimestre");
    const listarTrimestre = document.getElementById("listarTrimestre");
    navTrimestre.classList.add("active");
    listarTrimestre.classList.add("active");
    collapseTrimestre.classList.add("show");
  };
</script>

{% endblock %}
